<!DOCTYPE html>
<html>
  <head>
    <title>E-Commerce</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Welcome</h1>
      </div>
      <header class="navbar navbar">
        <ul class="nav navbar nav">
          <li><%= link_to "Cart | Total items: #{ cart_items }", cart_path %></li>
          <li><%= link_to "See all products", products_path %></li>
        <% if current_user %>
          <li><%= current_user.email %></li>
          <li><%= link_to "Sign out", '/sign_out' %></li>
        <% else %>
          <li><%= link_to "Sign up", 'sign_up' %></li>
          <li><%= link_to "Sign in", '/sign_in' %></li>
        <% end %>
        </ul>
      </header>
    </div>

    <div class="content-wrapper">
      <div class="container">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
